/*@font-face {
    font-family: "bitwonder";
    src: url("assets/bitwonder.ttf");
}

.inner-container {
	font-family: "bitwonder", Tahoma;
	height: 50px;
	font-size: 50px;
	text-align: center;
	position:absolute; it can be fixed too
	left:0; right:0;
	top:0; bottom:0;
	margin:auto;

	overflow:auto;
}*/

html, body {
  height: 100%;
	font-family: "bitwonder", Tahoma;
  font-family: Helvetica, Verdana, Tahoma;
  width: 100%;
  display: table;
  text-align: center;
  background-color: black;
  color:white;
}

.content_container {
  display: table-cell;
  vertical-align: middle;
}

#contributions {
	font-size: 30vw;
}

