@font-face {
  font-family: "bitwonder";
  src: url("bitwonder.ttf");
}

@font-face {
  font-family: "editundo";
  src: url("editundo.ttf");
}

.inner-container {
	/*font-family: "bitwonder", Tahoma;*/
	font-family: "editundo", Tahoma;
	height: 10vw;
	font-size: 10vw;
	text-align: center;
	position:absolute; /*it can be fixed too*/
	left:0; right:0;
	top:0; bottom:0;
	margin:auto;

	/*this to solve "the content will not be cut when the window is smaller than the content": */
	max-width:100%;
	max-height:100%;
	overflow:auto;
}

/*cursor*/
.blinking-cursor {
  font-weight: 100;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}